* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

a::before {
  content: "+7";
}

.phone-input::before {
  content: "+7";
}

.phone-input::after {
  content: "ext";
}
/* /////////////////////////////////////////////// */

.input-container {
  position: relative;
}

.input-container input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.input-container label {
  padding-left: 20px;
}

.input-container label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.input-container label::after {
  content: "✔";
  position: absolute;
  left: 3px;
  top: -4px;
  opacity: 0;
  transition: .2 opacity;
}

.input-container input:checked + label::after {
  opacity: 1;
}
.input-container {
  position: relative;
}

.input-container input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.input-container label {
  padding-left: 20px;
}

.input-container label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.input-container label::after {
  content: "✔";
  position: absolute;
  left: 3px;
  top: -4px;
  opacity: 0;
  transition: .2 opacity;
}

.input-container input:checked + label::after {
  opacity: 1;
}

/* ///////////////////////////////////////// */
.input-container-1 {
  position: relative;
}

.input-container-1 input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.input-container-1 label {
  padding-left: 20px;
}

.input-container-1 label::before {
  content: "";
  position: absolute;
  /* background: url(img/free-png.ru-2.png); */
  left: 0;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 4px;
}

.input-container-1 label::after {
  content: "";
  position: absolute;
  background: url(img/free-png.ru-2.png);
  background-size: 100% 100%;
  width: 24px;
  height: 24px;
  left: -1px;
  top: -3px;
  opacity: 0;
  transition: .2 opacity;
}

.input-container-1 input:checked + label::after {
  opacity: 1;
}