body {
  background-color: rgba(255, 0, 0, 0.5);
}

h1 {
  color: #ffff00;
  font-family: serif;
}

h1.form-title {
  text-align: center;
}

input,
button {
  display: block;
}

input {
  border: none;
  background: none;
  border-bottom: 1px solid #ffff00;
  outline: none;
  border-radius: 0;
}

button {
  border: none;
  border-radius: 10px;
  background-color: #ffff00;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.form-inner-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-button {
  margin-top: 20px;
}