* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  background: black;
}

.main {
  display: flex;
  justify-content: center;
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
}

.main__container {
  width: 500px;
  height: 600px;
  background: rgb(200, 200, 200);
  margin-top: 80px;
  border-radius: 30px;
  border: 10px solid rgb(90, 90, 90);
}

.main-container__form {
  display: flex;
  flex-direction: column;
}

.main-container-form__heading {
  margin: 0;
  width: 260px;
  height: 50px;
  font-size: 40px;
  color: rgb(61, 61, 61);
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 15px;
}

label {
  height: 25px;
  width: 120px;
  font-size: 20px;
  margin-top: 15px;
  margin-left: 30px;
  color: rgb(61, 61, 61);
}

input {
  width: 440px;
  height: 45px;
  border: 2px solid rgb(90, 90, 90);
  border-radius: 30px;
  font-size: 24px;
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
  color: rgb(64, 64, 64);
  padding: 0;
  padding-left: 6px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  background: rgb(244, 244, 244)
}

.main-container-form__check {
  width: 200px;
  height: 45px;
  margin-top: 30px;
  margin-left: 140px;
  margin-right: 140px;
  background: rgb(151, 151, 151);
  font-size: 26px;
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
  color: rgb(61, 61, 61);
  border-radius: 10px;
  border: none;
}

.main-container-form__result {
  width: 440px;
  height: 124px;
  border: 2px solid rgb(90, 90, 90);
  border-radius: 30px;
  background: rgb(244, 244, 244);
  margin-left: 20px;
  margin-top: 15px;
  font-size: 26px;
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
  color: rgb(61, 61, 61);
  padding-left: 10px;
}

@media screen and (max-width: 768px) {
  .main__container {
    width: calc(500 / 768 * 100vw);
    height: calc(600 / 768 * 100vw);
    margin-top: calc(80 / 768 * 100vw);
    border-radius: calc(30 / 768 * 100vw);
    border: calc(10 / 768 * 100vw) solid rgb(90, 90, 90);
  }

  .main-container-form__heading {
    width: calc(260 / 768 * 100vw);
    height: calc(50 / 768 * 100vw);
    font-size: calc(40 / 768 * 100vw);
    margin-left: calc(110 / 768 * 100vw);
    margin-right: calc(110 / 768 * 100vw);
    margin-top: calc(15 /768 * 100vw);
  }

  label {
    width: calc(120 / 768 * 100vw);
    height: calc(25 / 768 * 100vw);
    font-size: calc(20 / 768 * 100vw);
    margin-top: calc(15 / 768 * 100vw);
    margin-left: calc(30 / 768 * 100vw);
  }

  input {
    width: calc(440 / 768 * 100vw);
    height: calc(45 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid rgb(90, 90, 90);
    border-radius: calc(30 / 768 * 100vw);
    font-size: calc(24 / 768 * 100vw);
    padding-left: calc(6 / 768 * 100vw);
    margin-top: calc(10 / 768 * 100vw);
    margin-left: calc(20 / 768 * 100vw);
    margin-right: calc(20 / 768 * 100vw);
  }

  .main-container-form__check {
    width: calc(200 / 768 * 100vw);
    height: calc(45 / 768 * 100vw);
    margin-top: calc(30 / 768 * 100vw);
    margin-left: calc(140 / 768 * 100vw);
    margin-right: calc(140 / 768 * 100vw);
    font-size: calc(26 / 768 * 100vw);
    border-radius: calc(10 / 768 * 100vw);
  }

  .main-container-form__result {
    width: calc(440 / 768 * 100vw);
    height: calc(124 / 768 * 100vw);
    border: calc(2 / 768 * 100vw) solid rgb(90, 90, 90);
    border-radius: calc(30 / 768 * 100vw);
    margin-left: calc(20 / 768 * 100vw);
    margin-top: calc(15 / 768 * 100vw);
    font-size: calc(26 / 768 * 100vw);
    padding-left: calc(10 / 768 * 100vw);
  }
}