* {
  box-sizing: border-box;
}
/* box-sizing: border-box; данный атрибут и его значение задаёт указанный размер высоты и ширины всех элементов, которым она была задана, подгоняя по них контент, бордер  и падинги*/

.box {
  width: 100px;
  height: 100px;
  background-color:darkred;

  /* border: 3px solid #00ff00; */
/* ниже представлен разложенный вариант на три отдельных атрибута BORDER */
  border-width: 5px;
  border-style: solid;
  border-color: #00ff00
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:darkblue;
  border-width: 5px;
  border-color:crimson;
  border-style: solid;
}

.box-div {
  width: 100px;
  height: 100px;
  background-color:orangered;
  /* border-top: 5px solid magenta; */
  border-top-color: magenta;
  border-top-width: 5px;
  border-top-style: solid;
  border-left: 4px solid goldenrod;
  border-right: 7px solid blueviolet;
  border-bottom: 6px solid green;
}

.box-1 {
  width: 100px;
  height: 100px;
  background-color:aqua;
  border: 5px dashed red
}

.box-2 {
  width: 100px;
  height: 100px;
  background-color:blueviolet;
  border: 5px dotted red;
}

.box-3 {
  width: 100px;
  height: 100px;
  background-color:hotpink;
  border: 5px double red;
}

.box-4 {
  width: 100px;
  height: 100px;
  background-color:teal;
  border: 10px groove red
}

.box-5 {
  width: 100px;
  height: 100px;
  background-color:tomato;
  border: 10px ridge red;
}

.box-6 {
  width: 100px;
  height: 100px;
  background-color:steelblue;
  border: 10px red;
  border-style: solid dashed double dotted;
  border-color:blueviolet green yellow brown;
  border-width: 4px 5px 6px 7px;
}
/* border: solid(ипользуется чаще всего), double(используется реже), none(для сброса или переопределения), dashed(используется иногда), outset; hidden */